<h1><a ng-style="getLinkColorCss('home')" ng-click="setCurrentLink('home')" href="#!">bex</a></h1>
<h1><a ng-style="getLinkColorCss('photos')" ng-click="setCurrentLink('photos')" href="#!photos">photos</a></h1>
<h1><a ng-style="getLinkColorCss('art')" ng-click="setCurrentLink('art')" href="#!art">art</a></h1>
<h1><a ng-style="getLinkColorCss('about')" ng-click="setCurrentLink('about')" href="#!about">about</a></h1>
<h1><a ng-style="getLinkColorCss('contact')" ng-click="setCurrentLink('contact')" href="#!contact">contact</a></h1>